@use "../base/variables" as *;

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: $color-primary;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin: 0;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    margin: 0;
    padding: 0;
  }

  &__item {
  }

  &__link {
    text-decoration: none;
    color: $color-text;
    font-weight: 500;

    &:hover {
      color: $color-accent;
    }
  }
}
