$color-bg: #f7f7f7;
$color-white: #ffffff;
$color-text: #111;
$color-muted: #777;
$color-border: #eaeaea;

$primary: #111;
$secondary: #555;

$radius: 8px;
$transition: all 0.2s ease;

$container-width: 1200px;

/* Breakpoints */
$mobile: 500px;
$tablet: 900px;

// 🎨 Colores pastel
$color-primary: #fbcfbe; // rosa clarito
$color-secondary: #9af4e9; // verde agua suave
$color-accent: #87584c; // coral pastel
